@use '@els/els-styleguide-core/scss/tools';

.report {
    width: 90%;
    max-width: 70rem;
    padding: 1rem 2.5rem;
    margin: 0 auto;

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;

        h1 {
            margin-top: 0;
        }
    }

    &__subtitle {
        color: tools.$els-color-n6;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1.5rem;

        th,
        td {
            text-align: left;
            padding: 0.75rem 1rem;
            border-bottom: 0.0625rem solid tools.$els-color-n2;
        }

        th {
            color: tools.$els-color-n6;
            font-weight: 600;
        }
    }
}
